{% extends 'base.html' %}

{% block title %}
   Об создателе
{% endblock %}
{% block content %}
<div id="obo">
<h1>Всем привет!</H1>
<h2>Я создатель этого сайта.</h2>
<img src="/static/img/WIN_20230326_14_40_56_Pro.jpg/" width=400 height=300 class="rounded img-fluid" alt="фотка">
<h3>Этот сайт я писал на протяжении 2 недель.</h3>
<h3>Для его создания я использовал все свои навыки которые я получил в курсе от GeekSchool.</h3>
<h4>Фон я сделал сам.</h4>
<footer class="bottom modal-footer left">
 <a href="https://vk.com/id791967040"><img src="/static/img/vk.png" width = 100 height = 50 alt="vk"></a>
</footer>
{% endblock %}
</div>