Для css:
#id
.class
h1{
color: f;
background color: f;}
<link rel="stylesheet" href = "/static/css/css.css/">

Boostrap:
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




чтоб фото было как фон
.img{

            background-image: url("путь до изображения");

            background-size: no-repeat;

            background-position: center;

            background-size: cover;

            height: 400px;

            width: 400px;

}

Для бд:
conn = sqlite3.connect('sqlite.db')
    cur = conn.cursor()
    query = " select head, story, image FROM blog"
    cur.execute(query)

from flask import Flask, render_template
import sqlite3

app = Flask(__name__)

    blog = []
    for head, story, image in cur.fetchall():
        blog.append({
            "head": head,
            "story": story,
            "image": image,
        })
    cur.close()
    conn.close()
    context = {
        'active': 'blog',
        "blog": blog
    }

    return render_template('blog.html', **context)

CREATE TABLE blog (
  id integer PRIMARY KEY AUTOINCREMENT,
  head text,
  story text
);

insert into "table"(name, text)
values ('Тимофей', 14, '25.03.2005', '/static/image/foto_2.jpg'),
('Тимофей', 14, '25.03.2005', '/static/image/foto_2.jpg');

 if __name__ == "__main__":
     app.run()

